div.Search{
    height: 5%;
    width: 100%;
    /* margin: auto; */
    border-bottom: 2px solid gainsboro;
    background-color: #f9f9f9;
}
.middle {
    width: 80%;
    margin: auto;
    margin-top: 2%;

    
}
input{
    border-top-left-radius: 10%;
    border-bottom-left-radius:10% ;
    /* text-rendering: ; */
    width:80%;
    height: 1.4rem;
}
button{
    background-color: rgb(160, 156, 156);
    border-bottom-right-radius:20% ;
    border-top-right-radius:20% ;
    border-left: 0px;
    width: 10%;
}
 button:hover{
    cursor:pointer;
    background-color: #acb4b4;
}