
input{
    width: 82%;
    height: 50%;
    margin: auto ;
    border: none;
}
input:focus{
    border: 1px solid rgb(244, 237, 237);
}
.Typefield{
    display: flex;
    height:7%;
}
.emoji{
    width:6%;
    height: 100%;
}
.file{
    width:6%;
    height: 100%;
}
.mic{
    width: 6%;
    height: 100%;
}
.css-i4bv87-MuiSvgIcon-root{
    display: block;
    height: 66%;
    width: 20%;
    margin-top: 30%;
    margin-left: 15%;
    font-size: 1.8rem;

}